<div *ngIf="showTopBar" id="topBar">
    <img src="/assets/logo.jpg" style="width: 140px; float: left">
    <button pButton (click)="signOutClick()" label="Sign out" style="float: right;"></button>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openCandidatePage()" >Candidate</button>
      <button mat-menu-item (click)="signOutClick()" >Work Tracker</button>
    </mat-menu>
</div>
<router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
